@inherits BaseComponent<GenreList>

<div class="row">
	<PaginatedList Page="this.Genres">
		<PageItemTemplate>
			<div class="col-md-4">
				<GenreCard Genre="@context">
				</GenreCard>
			</div>
		</PageItemTemplate>
	</PaginatedList>
</div>

<div class="row">
	<div class="col-md-12">
		<a class="btn btn-success" href="@Routes.GenreRoutes.Create">
			<span class="fas fa-plus"></span> Create
		</a>
	</div>
</div>