@inherits MementoComponent<GenreForm>

@if (this.Genre == null)
{
	<h3>
		<i class="fas fa-spinner fa-pulse"></i> Loading...
	</h3>
}
else
{
	<EditForm Model="this.Genre"
			  OnValidSubmit="this.OnValidSubmitAsync"
			  OnInvalidSubmit="this.OnInvalidSubmit">

		<ValidationSummary />
		<DataAnnotationsValidator />

		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<Label For="@(() => this.Genre.Name)">
					</Label>
					<InputText class="form-control"
							   @bind-Value="this.Genre.Name">
					</InputText>
					<ValidationMessage For="@(() => this.Genre.Name)">
					</ValidationMessage>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<button class="btn btn-success" type="submit">
					<span class="fas fa-save"></span> Save Changes
				</button>
				<Button Color="NamedColor.Secondary" OnClicked="this.OnCancel">
					<span class="fas fa-trash"></span> Discard Changes
				</Button>
			</div>
		</div>
	</EditForm>
}	