@inherits MementoComponent<GenreList>

<div class="row">
	<PaginatedList Page="this.Genres">
		<PageItemTemplate>
			<div class="col-md-4">
				<GenreCard Genre="@context">
				</GenreCard>
			</div>
		</PageItemTemplate>
	</PaginatedList>
</div>

<div class="row">
	<div class="col-md-12">
		<Anchor class="btn btn-success" Url="@Routes.GenreRoutes.Create">
			<span class="fas fa-plus"></span> @this.Localizer.GetString(SharedResources.BUTTON_CREATE)
		</Anchor>
	</div>
</div>