@inherits LayoutComponentBase
<!-- menu -->
<div class="sidebar">
	<Menu>
	</Menu>
</div>

<!-- body -->
<div class="main">
	<div class="top-row">
	</div>

	<div class="px-2">
		@Body
	</div>
</div>

<!-- toaster -->
<ToastContainer>
</ToastContainer>