@inherits LayoutComponentBase

<!-- menu -->
<div class="sidebar">
	<Menu />
</div>

<!-- body -->
<div class="main">
	<div class="top-row">
	</div>

	<div class="content px-2">
		@Body
	</div>
</div>

<!-- toastr -->
<ToastContainer />