@page "/Persons"

<h3>Persons</h3>

<div class="row">
	<GenericList ElementList="this.Persons.ToList()">
		<ElementTemplate>
			<div class="col-md-4">
				<PersonCard Person="@context">
				</PersonCard>
			</div>
		</ElementTemplate>
	</GenericList>
</div>