@inherits MementoComponent<PersonList>

<div class="row">
	<PaginatedList Page="this.Persons">
		<PageItemTemplate>
			<div class="col-md-4">
				<PersonCard Person="@context">
				</PersonCard>
			</div>
		</PageItemTemplate>
	</PaginatedList>
</div>

<div class="row">
	<div class="col-md-12">
		<a class="btn btn-success" href="@Routes.PersonRoutes.Create">
			<span class="fas fa-plus"></span> Create
		</a>
	</div>
</div>