@inherits MementoComponent<PersonList>

<div class="row">
	<PaginatedList Page="this.Persons">
		<PageItemTemplate>
			<div class="col-md-4">
				<PersonCard Person="@context">
				</PersonCard>
			</div>
		</PageItemTemplate>
	</PaginatedList>
</div>

<div class="row">
	<div class="col-md-12">
		<Anchor class="btn btn-success" Url="@Routes.PersonRoutes.Create">
			<span class="fas fa-plus"></span> @this.Localizer.GetString(SharedResources.BUTTON_CREATE)
		</Anchor>
	</div>
</div>