@inherits MementoComponent<MovieList>

<div class="row">
	<PaginatedList Page="this.Movies">
		<PageItemTemplate>
			<div class="col-md-4">
				<MovieCard Movie="@context">
				</MovieCard>
			</div>
		</PageItemTemplate>
	</PaginatedList>
</div>

<div class="row">
	<div class="col-md-12">
		<Anchor class="btn btn-success" Url="@Routes.MovieRoutes.Create">
			<span class="fas fa-plus"></span> @this.Localizer.GetString(SharedResources.BUTTON_CREATE)
		</Anchor>
	</div>
</div>