@inherits InputBase<T>
@typeparam T

<select value="@this.CurrentValue"
		@onchange="@((arguments) => this.OnInputChange(arguments))"
		@attributes="this.AdditionalAttributes">
	<!-- default option -->
	<option disabled selected></option>
	<!-- remaining options -->
	@this.ChildContent
</select>