<h3>Movies</h3>

<GenericList ElementList="this.Movies">
	<ElementTemplate>
		<p>Title: <strong>@context.Title</strong></p>
		<p>Genre: <strong>@context.Genre</strong></p>
		<p>Releaste Date: <strong>@context.ReleaseDate</strong></p>
		<hr/>
	</ElementTemplate>
</GenericList>