<div class="top-row pl-4 navbar navbar-dark">
	aria-hidden="true"
	<a class="navbar-brand" href="">Memento.Movies</a>
	<button class="navbar-toggler" @onclick="ToggleNavMenu">
		<span class="navbar-toggler-icon"></span>
	</button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
	<ul class="nav flex-column">
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
				<span class="fa fa-home"></span> Home
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="genres" Match="NavLinkMatch.Prefix">
				<span class="fas fa-presentation"></span> Genres
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="movies" Match="NavLinkMatch.Prefix">
				<span class="fas fa-film"></span> Movies
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="persons" Match="NavLinkMatch.Prefix">
				<span class="fas fa-user-friends"></span> Persons
			</NavLink>
		</li>
	</ul>
</div>

@code
{
	private bool collapseNavMenu = true;

	private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}
}